<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuncios</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <div class="navbar">
        <img src="../Imagenes/LogoSena.png" class="logo">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="Anuncios.html">Anuncios</a></li>
            <li><a href="Recomendaciones.html">Recomendaciones</a></li>
            <li><a href="Registro.html">Registrarse</a></li>
            <li id="liFinLinea"><a href="Inicio_Sesion.html">Iniciar sesión</a></li>
        </ul>
    </div>
    
    <section id="Anuncios">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 heading">
					<h1>Anuncios</h1>
					<p class="sub">En la parte inferior encontrarás anuncios importantes que el gimnasio tiene para ti.</p>
					<p class="subtle-text">Anuncios</p>
				</div>
			</div>
			<div class="row team-item gtco-team">
				<div class="col-md-6">
					<div class="img-shadow">
						<img src="../Imagenes/cuatro.jpg" class="img-responsive">
					</div>
				</div>
				<div class="col-md-6">
					<h2 class="heading-colored rowText rowTextH2">Recuerda...</h2>
        			<p class="rowText">Estamos disponibles de 6am a 8pm (sugeto a cambios).</p>
				</div>
			</div>
			<p style="margin-bottom: 100px;"></p>
			<div class="row team-item gtco-team">
				<div class="col-md-6">
					<div class="img-shadow">
						<img src="../Imagenes/cinco.jpg" class="img-responsive">
					</div>
				</div>
				<div class="col-md-6">
					<h2 class="heading-colored rowText rowTextH2">Ten en cuenta</h2>
        			<p class="rowText">Por situaciones adversas, el gimnasio no estará disponible en las mañanas hasta nuevo aviso.</p>
        			<p class="rowText">Pedimos excusas por esta situación.</p>
        			<p class="rowText">Gracias.</p>
				</div>
			</div>
		</div>
	</section>

	<footer id="footer">
		<div class="container">
			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block" style="padding-bottom: 8px;">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank" style="color: #65a124;">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank" style="color: #65a124;">Unsplash</a></small>
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>