<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymSenApp</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
	<div class="banner" id="Inicio">
        <div class="navbar">
            <img src="../Imagenes/LogoSena.png" class="logo">
            <ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="Anuncios.html">Anuncios</a></li>
				<li><a href="Recomendaciones.html">Recomendaciones</a></li>
				<li><a href="Registro.html">Registrarse</a></li>
				<li id="liFinLinea"><a href="Inicio_Sesion.html">Iniciar sesión</a></li>
			</ul>
        </div>
        <div class="contenido">
            <h1 class="animate-box" data-animate-effect="fadeIn">GymSenApp</h1>
            <h3 class="subt">Tu gimnasio Sena al alcance de tus manos</h3>
        </div>
    </div>

    <footer id="footer">
		<div class="container">
			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block" style="padding-bottom: 8px;">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank" style="color: #65a124;">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank" style="color: #65a124;">Unsplash</a></small>
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>